[Unit]
Description=Restore iptables firewall rules
Before=network-pre.target

[Service]
Type=oneshot
ExecStart={{ iptables_restore.stdout }} -n /etc/iptables.conf

[Install]
WantedBy=multi-user.target
