[DEFAULT]
banaction = iptables-allports
bantime  = -1
findtime  = 600
maxretry = 5
ignoreip = 127.0.0.1/8 ::1
action = %(action_mwl)s
destemail = {{ email }}
sender = {{ email }}

[sshd]
enabled = true
port = {{ ssh_port }}
filter = sshd
